.body{
    margin: 0;
}

.hero-section{
    color: #FFF;
    font-family: 'Mulish' sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    background:  #FF6F00;
    height: 3rem;
    text-align: center;
    justify-content: center;
}

.logo{
    color: #460482;
    font-family: "Inter" sans-serif;
    font-size: 1.54356rem;
    font-weight: 700;
}

.login{
    color: #460482;
    font-family: "DM Sans" sans-serif;
    font-size: 0.84375rem;
    font-weight: 700;
}

.button{
    background-color: #460482;
    color: #FFF;
    font-family: "Poppins" sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    border-radius: .5rem;
    padding: .5rem;
}

/*background*/

.business-bg{
    background-image: url(/assets/Business\ Analyst-bg.png);
    background-repeat: no-repeat;
    background-color:rgba(0, 0, 0, 0.50);
    background-size: cover;
    height: 28.375rem;
}

.bg {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.40);
    width: 100%;
    height: 28.375rem;
    opacity: 0.7;
    z-index: 0;    
}

.business-text{
    position: absolute;
    z-index: 1;
    padding-top: 5rem;
}

.business-text1{
    color: #FFF;
    font-family: 'DM Sans' sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 3.0625rem;
    letter-spacing: 0.025rem;
}

.business-text2{
    color: #FFF;
    font-family: 'DM Sans' sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.0625rem;
    letter-spacing: 0.05rem;
}

.business-text3{
    color: #FFF;
    font-family: 'DM Sans' sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 3.0625rem;
    letter-spacing: 0.025rem;
}

/*time*/
.softskills{
    text-decoration: none;
}

.business-textcontain{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
}

.date{
    border-radius: 4.435px;
    background: #460482;
    display: flex;
}

.month{
    color: #FFF;
    font-family: "DM Sans" sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: block;
}

.day{
    color: #FFF;
    font-family: "DM Sans" sans-serif;
    font-size: 28px;
    font-weight: 500;
    display: block;
}

.business-year{
    border-radius: 4.435px;
    background: #460482;
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.business-text4{
    color: #333;
    font-family:"DM Sans" sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.time{
    color: #767070;
    font-family: "DM Sans" sans-serif;
    font-size: 16px;
    font-weight: 400;
}


.b{
    padding-top: .8rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.business-schedule{
    display: inline-flex;
}

.skills{
    display: flex;
    padding:1rem;
}

/*.business-time{
    position: absolute;
    left:12%;
    top:75%;
    border-radius: .4rem;
    position:fixed;
}

@media(min-width:48.0625rem){
    .business-time{
        position: absolute;
        left:15%;
        top:85%;
        border-radius: .4rem;
    }
}*/

@media(min-width:48rem) {

    .business-time{
        position: absolute;
        left:12%;
        top:85%;
        border-radius: .4rem;
    }
    
    }
    
    .business-time{
        position: absolute;
        top:110%;
        border-radius: .4rem;
    }

@media(max-width:26.4375rem){
    .business-text3{
        color: #FFF;
        font-family: 'DM Sans' sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.2rem;
        letter-spacing: 0.025rem;
    }
}

@media(max-width:47.9375rem){
    .business-year{
        border-radius: 4.435px;
        background: #460482;
        width: 80px;
        height: 60px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .business-schedule{
        display: block;
    }

   .m-img{
        border-top-left-radius: .7rem;
   }

   .m-content{
        border-top-left-radius:0% !important;
        border-bottom-left-radius:0cm !important;
   }

   .unit2-content{
        background: #FBF8FF;
        padding-top: 3rem;
}

   .unit4-content{
        background: #FBF8FF;
        padding-top: 3rem;
}

}

/*@media(max-width:74.875rem){
    .business-time{
        position: absolute;
        left:8%;
        top:85%;
        border-radius: .4rem;
    }
}

@media(max-width:40.125rem){
    .business-time{
        position: absolute;
        right: 7%;
        top:85%;
        border-radius: .4rem;
    }
}


@media(max-width:62rem){
    .business-time{
        position: absolute;
        left:8%;
        top:85%;
        border-radius: .4rem;
    }
    

}*/

.accordion-button::after{
    background-image: url(/assets/chevron-right\ \(1\).svg);
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

.btn-link{
    text-decoration: none;
    
}

/*testimonial-box*/
.testimonial-box{
    padding-top: 7rem;
}

.card-body{
    background: #460482;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.business-text6{
    color: #FFF;
    font-family: 'DM Sans' sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    padding-top: 2rem;
}

.business-text06{
    color: #FFF;
    font-family: 'DM Sans'sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 3.6rem;
}

.small-line{
    padding-top: 2rem;
    
}

.short-line{
    width: 50px; 
    height: 3px; 
    background-color: #FFF; 
    border: 0;
}

.business-text7{
    color: #FFF;
    font-family: 'DM Sans'sans-serif;
    font-size: .75rem;
    font-weight: 200;
    line-height: 2rem;
    padding-top: 1rem;
}

/*summary*/

.business-text8{
    color: #333;
    font-family: 'DM Sans'sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: .5rem;
}

.business-text9{
    color: #333;
    font-family: 'DM Sans' sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 3rem; 
}

/*what you will learn*/

.business-text10{
    color: #333;
    font-family: 'DM Sans'sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    padding-top: 3rem;
}

.unit{
    color: #FFF;
    font-family: 'DM Sans'sans-serif;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.27719rem;
    background: #460482;
    width: 30%;
    height:20%;
}

.business-text11{
    color: #333;
    font-family: 'DM Sans'sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
}

.shorty-line{
    width: 6%; 
    height: 0.6rem; 
    background-color:#460482; 
    align-items: center;
    justify-items: center;
    border-radius: .3rem;
}

.business-box1{
    padding-top: 3rem;
}

.unit1-content{
    background: #FBF8FF;
    display: flex;
}

.unit2-content{
    background: #FBF8FF;
    display: flex;
}

.unit3-content{
    background: #FBF8FF;
    display: flex;
}

.unit4-content{
    background: #FBF8FF;
    display: flex;
}

.list-item{
    color: #333;
    font-family: 'DM Sans' sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.9375rem; 
}

/*pricing*/

.business-box3{
    padding-top: 1rem;
}

.business-text12{
    color: #333;
    font-family: 'DM Sans' sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 2.5rem;
}

.list-items{
    color: #333;
    font-family: 'DM Sans' sans-serif;
    font-size: .9rem;
    font-weight: 300;
    line-height: 3rem;
}

.link{
    text-decoration: none;
    color: #10217D;
    text-align: center;
    font-family: 'Mulish'sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.58rem; 
    padding-left: 2rem;
}

/*video*/

.videos {
    position: relative;
    width: 100%;
    margin: auto;
}

video {
    width: 100%;
    height: auto;
    display: block;
}

.pause-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

  
.business-box4{
    padding-top: 3rem;
}

.business-text13{
    border-radius: 0.625rem;
    background: #460482;
}

.business-text14{
    color: #FFF;
    font-family: 'DM Sans' sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 2rem;
}

.business-text15{
    color: #FFF;
    font-family: 'DM Sans'sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 1rem;
}

.get-box{
    padding-bottom: 3rem;
    padding-top: .5rem;
 }

.get-btn{
    background: #FFF;
    color: #460482;
    border-radius: 0.37506rem;
    display: flex;
    width: 10rem;
    height: 3rem;
    padding-top: 2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

  /*footer*/

.events-footer{
    padding-top: 3rem;
}

.footer{
    background: #460482;
    color: #FFF;
    padding-top: 2rem;
}

.logo2{
    color: #FFF;
    font-family: "Inter" sans-serif;
    font-size: 24.697px;
    font-weight: 600;
}

.footer-text1{
    color: #FFF;
    font-family:"DM Sans" sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.3645rem;
    padding-top: 2rem;
}

.footer-text2{
    color: #FFF;
    font-family: "DM Sans"sans-serif;
    font-size: 0.9rem;
    font-weight: 20;
    line-height: 1.625rem;
    padding-top: 2rem;
    opacity: .7;
}

.form-control{
    background: #460482;
}

::placeholder{
    color: #FFF !important;
    opacity:1 ;
}

/*::webkit-input-placeholder{
    color: #FFF;
}
:-ms-input-placeholder{
    color: #FFF;
}
::-moz-placeholder{
    color: #FFF;
    opacity: 1;
}*/
.subscribe{
    background: #FFF;
    color: #460482;
    border-radius: 0.37506rem;
    display: flex;
    width: 10rem;
    height: 3rem;
    padding-top: 2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.subscribe-text{
    color: #460482;
    font-family: "DM Sans"sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}

.social{
    padding-top: 2rem;
}

.footer-heading{
    color: #FFF;
    font-family: "Plus Jakarta Sans"sans-serif;
    font-size: 0.90075rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.35113rem;
    padding-top: 1rem;
}

.footer-subheading{
    color: #FFF;
    font-family: "Plus Jakarta Sans"sans-serif;
    font-size: 0.78819rem;
    opacity: .7;
    line-height: 2.25194rem; 
    padding-top: 0.9rem;
}

.softskills{
    text-decoration: none;
}

.borderbox{
    padding-top: 2rem;
}
.borderline{
    border-top: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: 'DM Sans' sans-serif;
    font-size: 0.78819rem;
    font-weight: 400;
    line-height: 2.25194rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}